---
import { Github } from 'lucide-react';
---

<div class="container m-4">
  <div class="flex justify-end space-x-8">
    <a href="https://app.evecalm.com/" class="hover:text-sky-300">
      More projects
    </a>
    <a href="https://github.com/oe/keycode" class="hover:text-sky-300">
      <Github  />
    </a>
  </div>
</div>